
#page-home{
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */

}

#page-home-content{
    width: 100vw;
    display: flex;
    justify-content: center;
}

#page-home-content img{
    position: center;
    max-width: 100%;
}

.conteudo-page-home{
    position: absolute;
    
    margin-bottom: 0.3%;
    margin-left: 0.7%;
    width: 100vw;
    height: 100vh;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;



}


@media only screen and (max-device-width: 900px){
    #page-home{
        width: 100vw;
        height: 100vh;
        /* overflow-y: hidden; */
    }

    #page-home-content{
        height: 70vh;
    }


    #page-home-content img{
        height: 55vh;
        width: 100vw;
        
    }
    
    .conteudo-page-home{
        margin-left: 0;
    }

}
