#conteudo-page-cadastro{

    background-color: var(--color-background-secondary);
    z-index: 1;
    
    width: 47.4vw;
    height: 72.4vh;
    border-radius: 5em;

}

.conteudo-content{
    font-weight: 500;
    font-size: 2rem;
    font-family: Poppins;
    
}

@media only screen and (max-device-width: 900px){

    #conteudo-page-cadastro{
        position: center; 
        width: 51.0vw;
        margin-left: 0.9%;
        margin-bottom: 31%;
        height: 37.9vh;
        border-radius: 3.9rem;

    }
    #conteudo-page-cadastro
    .conteudo-content h1{
        font-weight: 500;
        font-size: 2rem;
        font-family: Poppins;
        margin: 10px;
    
    }
}

