#conteudo-page-login{
    z-index: 1;

    background-color: var(--color-background-secondary);
    width: 47.4vw;
    height: 72.4vh;
    border-radius: 5em;


}

.conteudo-content{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



@media only screen and (max-device-width: 900px){

    #conteudo-page-login{
        position: fixed; 
        width: 79vw;
        height: 40vh;
        border-radius: 4.4rem;
        margin-right: 1vw;

    }
    #conteudo-page-login
    .conteudo-content h1{
        font-weight: 500;
        font-size: 2rem;
        font-family: Poppins;
        margin: 10px;
    
    }
}